<!DOCTYPE html>
<html>
  <head>
    <title>Music Sharing Platform</title>
    <link rel="stylesheet" type="text/css" href="../../public/style.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
